body {
  background-color: black;
}
.container {
  width: auto;
  height: auto;
  padding: 0;
}
#main {
  display: flex;
}
.main-logo img {
  width: 300px;
  height: 300px;
}
.main-logo {
  width: 725px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-action {
  width: 800px;
  height: 600px;
  display: grid;
  justify-content: center;
  padding: 0;
}
.main-action-text {
  width: 500px;
  height: 150px;
  margin-top: 50px;
  padding: 0;
  color: white;
}
.main-action h1 {
  font-size: 50px;
}
.main-action-button {
  display: flex;
  width: 300px;
  flex-direction: column;
  margin-top: -50px;
}
.main-action-button a {
  text-decoration: none;
  color: rgb(0, 204, 255);
}
.main-action-button button {
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
  border-radius: 100px;
  background-color: white;
  border: 1px solid white;
}
#btn-create-account {
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
  border-radius: 100px;
  background-color: rgb(0, 204, 255);
  border: 1px solid rgb(0, 204, 255);
  color: white;
}
.main-action-button img {
  width: 20px;
  height: 20px;
}
.main-action-button p {
  font-size: 10px;
  margin-top: 0;
}
#btn-sign-in {
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
  border-radius: 100px;
  background-color: black;
  border: 1px solid white;
  color: rgb(0, 204, 255);
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-link {
  display: flex;
  justify-content: center;
  gap: 20px;
}
footer a,
p {
  text-decoration: none;
  color: gray;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

#modal-sign-up {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.439);
  display: none;
  justify-content: center;
  align-items: center;
}
#modal-sign-up img {
  width: 30px;
  height: 30px;
}
.modal {
  background-color: black;
  width: 500px;
  height: 600px;
}
.modal-top {
  display: flex;
  gap: 200px;
  margin-top: 5px;
}
.modal-form {
  color: white;
  width: 400px;
  margin-left: 50px;
}
.modal-form-input form {
  /* width: 60%; */
  display: flex;
  flex-direction: column;
}
.form-control {
  width: 75%;
  height: 20px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  gap: 10px;
}

.dob-input {
  display: flex;
  gap: 10px;
}

.dob-input select {
  width: 100px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  font-size: 14px;
  cursor: pointer;
}
.btn-input {
  width: auto;
  height: 40px;
  margin-top: 200px;
  border-radius: 100px;
  border: 1px solid white;
  background-color: white;
}
